@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #888;
  border: 4px solid transparent;
  border-radius: 8px;
  height: 56px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

html {
  scrollbar-gutter: stable;
}
